<html>
        <style>
                .header img {
                       
                        float: left;
                        width: 1800px;
                        height: 200px;
                        background: #555;
                      }
                      
                      .header h1 {
                        position: static;
                        top: 18px;
                        left: 10px;
                      }
                      
                </style>
<head>
        <head>
                <link rel="stylesheet" href="/static/style.css" type="text/css">
        </head>
    <center>
                <div class="header">
                                <img src="https://media.licdn.com/dms/image/C511BAQEO65PDkla4iA/company-background_10000/0?e=2159024400&v=beta&t=5cUkEKTgGK497OLTPF4bBie1E5wCKQeHN8vIf62wcl0" alt="logo" />
                                <h1 style="color:#993519;">Redeem Systems Pvt Ltd</h1>
                              </div>
    <title>Protected Page</title>
</head>
<body>
<h1 style="color:#2519ca;">Welcome to the HRMS Home page!</h1>
</body>
<ul class="menu">
    <a href="{{ url_for('dropsession1') }}">Registration</a><br>
    <a href="{{ url_for('dropsession2') }}">Personal Details</a><br>
    <a href="{{ url_for('dropsession') }}">Logout</a>
</ul>
</center>
</html>